<header>
  <div class="container header">
    <a href="/home" id="logo">
      <img src="/img/logo.png" />
    </a>

    <div class="busca">
      <form action="/users">
        <input type="search" class="search" name="search" id="search" placeholder="buscar usuarios" />
      </form>
    </div>

    <nav>
      <a class="add_publication_link" href="/publications/new">
        <img class="add_publication_icon" src="/img/icons/add.svg" />
      </a>

      <a href="/home">
        <img src="/img/icons/home.svg" />
      </a>

      <a href="">
        <div class="avatar-content">
          <img
            class="avatar"
            src="<%= req.session.user.avatar || '/img/avatar-example.png' %>"
          />
          <b><%= req.session.user.username %></b>
        </div>
      </a>
    </nav>
  </div>
</header>
